{% extends 'base.html' %}

{% block content %}
<div class="homepage-apps">
    <a href="/merchstore/items"><button type="button" class="mshp-btn">Merchandise Store</button></a>
    <a href="/localevents/events"><button type="button" class="lehp-btn">Local Events</button></a>
    <a href="/bookclub/books"><button type="button" class="bchp-btn">Book Club</button></a>
    <a href="/diyprojects/projects"><button type="button" class="dphp-btn">DIY Projects</button></a>
    <a href="/commissions/requests"><button type="button" class="crhp-btn">Commission Requests</button></a>
</div>
{% endblock %}