{% extends 'base.html' %}

{% block content %}
<h2>{{ book.title }}</h2>
<h3>Author: {{ book.author }}</h3>
<p>Genre: {{ book.genre.name }}</p>
<p>Publication Year: {{ book.publication_year }}</p>
<p>Synopsis: {{ book.synopsis }}</p>

<p>Status:
    {% if book.is_available %}
    Available to Borrow
    <br>
    {% if user.profile != book.contributor %}
    <a href="{% url 'bookclub:book_borrow' book.pk %}"><button>Borrow this Book</button></a>
    {% else %}
<p> You are the owner of this book </p>
{% endif %}
{% else %}
Currently Not Available
{% endif %}
</p>

{% if can_edit %}
<p><a href="{% url 'bookclub:book_update' book.pk %}">Edit Details</a></p>
{% endif %}
<hr>

<p>Bookmarks: {{ bookmarks_count }}</p>
{% if user.is_authenticated %}
<form action="{% url 'bookclub:book_detail' book.pk %}" method="POST">
    {% csrf_token %}
    <button type="submit" name="action" value="bookmark">Bookmark</button>
</form>
{% endif %}

<h3>Reviews</h3>
{% for review in reviews %}
<h4>{{ review.title }}</h4>
<p>{{ review.comment }}</p>
<small>Reviewed by: {{ review.user_reviewer.display_name|default:review.anon_reviewer }}</small>
{% empty %}
<p>No reviews available for this book yet.</p>
{% endfor %}

<h4>Leave a Review</h4>
<form action="{% url 'bookclub:book_detail' book.pk %}" method="POST">
    {% csrf_token %}
    <input type="text" name="title" placeholder="Review Title" required><br>
    <textarea name="comment" placeholder="Your review..."></textarea><br>
    <button type="submit" name="action" value="review">Post Review</button>
</form>

<hr>
<p>Added to Club: {{ book.created_on|date:"Y-m-d" }}</p>
<p>Last Updated On: {{ book.updated_on|date:"Y-m-d" }}</p>

<a href="{% url 'bookclub:book_list' %}">Browse More Books</a>
{% endblock %}