{% extends 'diyprojects/base_diyprojects.html' %}
{% block content%}
<h2>Project List</h2>

{% if user.is_authenticated %}
{% if created %}
<h3>Projects Created</h3>
<ul>
    {% for project in created %}
    <li><a href="{{ project.get_absolute_url }}">{{project.title}}</a> - {{project.category.name}}</li>
    {% endfor %}
</ul>
{% endif %}
{% endif %}

{% if user.is_authenticated %}
{% if favorited %}
<h3>Projects Favorited</h3>
<ul>
    {% for project in favorited %}
    <li><a href="{{ project.get_absolute_url }}">{{project.title}}</a> - {{project.category.name}}</li>
    {% endfor %}
</ul>
{% endif %}
{% endif %}

{% if user.is_authenticated %}
{% if reviewed %}
<h3>Projects Reviewed</h3>
<ul>
    {% for project in reviewed %}
    <li><a href="{{ project.get_absolute_url }}">{{project.title}}</a> - {{project.category.name}}</li>
    {% endfor %}
</ul>
{% endif %}
{% endif %}

{% if user.is_authenticated %}
{% if project %}
<h3>More Projects</h3>
{% endif %}
{% endif %}
<ul>
    {% for project in project %}
    <li>
        <a href="{{ project.get_absolute_url }}">{{project.title}}</a> - {{project.category.name}}
    </li>
    {% endfor %}
</ul>

<footer>
    <a href="{% url 'diyprojects:diyprojects_add' %}">
        <button type="button" class="create-btn">Create New Project</button>
    </a>
</footer>
{% endblock %}