{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Common Grounds</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <header>
        <h1>Common Grounds</h1>
        <div>
            {% if user.is_authenticated %}
            <span>Welcome, {{ user.username }}!</span>
            <a href="/"><button type="button" class="base-btn">Homepage</button></a>
            <a href="/accounts/dashboard"><button type="button" class="base-btn">Dashboard</button></a>
            <a href="/accounts/{{ user.username }}"><button type="button" class="base-btn">Change Profile</button></a>
            <form action="{% url 'logout' %}" method="POST" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="base-btn">Logout</button>
            </form>
            {% else %}
            <span>You are not logged in. Log in or register to continue!</span>
            <a href="{% url 'accounts:register' %}"><button type="button" class="base-btn">Register</button></a>
            <a href="/accounts/login/"><button type="button" class="base-btn">Login</button></a>
            {% endif %}
        </div>
        <hr>
    </header>

    <div class="page-content">{% block content %}{% endblock %}</div>

</body>

</html>