{% extends 'base.html' %}
{% load static %}

{% block content %}
<script src="{% static 'commissions/js/create.js' %}"></script>

{% if commission %}
<p>Update Commission</p>
{% else %}
<p>Create New Commission</p>
{% endif %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <p>Jobs:</p>
    {{ formset.management_form }}
    
    <div id="create-list">
    {% for form in formset %}
        <div class="form-row">
            {{ form.id }} 
            {% for field in form.visible_fields %}
                {% if field.name == 'DELETE'%}
                    <div style="display:none;">
                        {{ form.DELETE }}
                    </div>
                {% else %}
                <div>
                    {{field.label_tag}} {{field}}
                </div>
                {% endif %}
            {% endfor %}
            {% if not commission %}
            <button type="button" class="remove-button">Remove Job</button>
            {% endif %}
        </div>
    {% endfor %}
    </div>

    <div id="empty-form" style="display:none;">
        <div class="form-row">
            {{ formset.empty_form.id }} 
            {% for field in formset.empty_form.visible_fields %}
                {% if field.name == 'DELETE'%}
                    <div style="display:none;">
                        {{ formset.empty_form.DELETE }}
                    </div>
                {% else %}
                <div>
                    {{field.label_tag}} {{field}}
                </div>
                {% endif %}
            {% endfor %}
            {% if not commission %}
            <button type="button" class="remove-button">Remove Job</button>
            {% endif %}
        </div>
    </div>

    {% if not commission %}
    <button type="button" id="add-more">Add Job</button>
    {% endif %}
    <input type="submit" name="submit" value="Save Form">
</form>

{% endblock %}